body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 48px;
    text-align: center;
    font-family: 'Times New Roman', serif;
}

.data {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    letter-spacing: 0.5px;
}

h2 {
    background-color: #333;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 24px;
    padding:  8px;
    border-radius: 8px;
}

.personal-data {
    display: grid;
    grid-template-columns: 1fr;
}

.data-content {
    padding: 20px;
    border: 1px solid #000;
    border-radius: 8px;
    background-color: #fff;
}
    
.data-content img {
    width: 200px;
    height: auto;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    float: right;
}

.data-content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer {
    background: none;
    color: #333;
    padding: 20px;
    text-align: center;
    top: 20px;
}

footer img {
    width: 200px;
    height: 80px;
}

.affirmation {
    font-style: italic;
    font-family: 'Times New Roman', serif;
    font-size: 20px;
}

.signature {
    font-weight: bold;
    text-decoration: none;
    font-family: 'Times New Roman', serif;
    font-size: 20px;
}
